button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 230, 0, 0.363);
}

.click-button {
    background-color: rgba(28, 54, 170, 0.349);
}

.reset-button {
    background-color: rgba(52, 0, 150, 0.308);
}



